@import "tailwindcss";
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --blue-color: #0763E7;
}

/* Home menu*/
.menu-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-menu {
  border-radius: 0;
  padding: 0;
}
.menu-custom .p-menuitem-link,
.menu-custom .p-menuitem-link:focus,
.menu-custom .p-menuitem-link:active,
.menu-custom .p-menuitem-link:hover {
  background-color: #333;
  box-shadow: none !important;
  outline: none;
  color: white;
}



